
h1{
    color: brown;
}
body{
    background-color: black;
    color: aliceblue;
}
main{
    
}
main{
}
header{
    color: red;
    font-size: 20px;
}
.one ,.three
.two{
    display: flex;
    justify-content: center;
    background-image: url(background.jpg);
    background-image: linear-gradient(black);
}

.three{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
    background-image: url(background.jpg);
    background-image: -moz-linear-gradient(white);
}
.button{
    color: red;
    background-color: red;
}
.four{
    border: 2px solid transparent;
    color:white;
    background-color: red;
}
.one{
    display: flex;
    justify-content: space-between;

}
.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;;
}

.card{
    padding: 50px;
    background: linear-gradient(to bottom, #3a193a, #1b1510 );
   

    background-blend-mode:color-dodge;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(10, 8, 20);
    border-radius: 20px;
    border-spacing: 5px;
    flex-direction: column;
    background-blend-mode: lighten;
    
}
.trnd1{color:white;
    
}
.bg{
    background-image: url(background.jpg);
}
.ten{
    color: white;
    font-size:50px ;
}






