h1 {
    color: brown;
}

body {
    background-color: black;
    color: aliceblue;
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(11, 9, 9, 0.964)), url('background.jpg');
    /* background-image: url(background.jpg); */
    font-family: Arial, Helvetica, sans-serif;


}


header {
    
    position: relative;
    top: 20px;
    left: 70px;
}

.one{
    
}
.three .two {
    display: flex;
    justify-content: center;


}

.three {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
    background-image: -moz-linear-gradient(white);
}

.button {
    color: red;
    background-color: red;
}

.four {
    border: 2px solid transparent;
    color: white;
    background-color: red;
    border-radius: 3px;
    position: relative;
    top: 25px;
    right: 180px;
}

.one {
    display: flex;
    justify-content: space-between;

}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    ;
}

.card {
    padding: 50px;
    background: linear-gradient(to bottom, #3a193a, #1b1510);


    background-blend-mode: color-dodge;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(10, 8, 20);
    border-radius: 20px;
    border-spacing: 5px;
    flex-direction: column;
    background-blend-mode: lighten;

}

.trnd1{
    color: rgb(255, 255, 255);
}

.bg {
    background-image: url(background.jpg);
}

.ten {
    color: white;
    font-size: 50px;
}
.trnd{
    
    gap:10px;
    left: 100px;
    row-gap: 50px;
    
    
}
.trndimg{
    border: #1b1510;
    border-radius: 25px;
}
.email{
    border-radius: 5px;
    border-color:none;
    height: 50px;
    width: 350px;
    background: none;
    font-size: 20px;

}
.submit{
    border-radius: 5px;
    border-color: red;
    height: 55px;
    width: 200px; 
    background-color: red;
    color: white;
    font-size: 20px;
}
#select{
    background: none;
    color: white;
    height: 30px;
    width: 120px; 
    position: relative;
    right: 200px;
    top: 25px;
    border-radius: 5px;
}
.five{
    display: flex;
    justify-content: end;
}
.trnd1{
    color: white;
}